<div class="find-note">
      <label class="paper-btn margin btn-secondary-outline" for="modal-2">Find a Note</label>
    <input class="modal-state" id="modal-2" type="checkbox" />
    <div class="modal">
      <label class="modal-bg" for="modal-2"></label>
      <div class="modal-body">
        <label class="btn-close" for="modal-2">X</label>
        <h4 class="modal-title">Find a Note</h4>
        <p class="modal-text">
            <div class="form-group">
            <input type="text" placeholder="Note Id" id="paperInputs1">
            </div>
        </p>
        <a href="/#download">Search</a>
        <label for="modal-2" class="modal-link">Close</label>
      </div>
    </div>
 
</div>