<%- include('layout/header') %>

<div class="container paper margin-top shadow border">
  <div class="jumbotron">
    <h1 class="display-3">Note Sharing</h1>
    <p class="lead">
      A note sharing website that allows you to write your notes on markdown and
      highlight your code
    </p>
    <hr />
    <div class="buttons-group row">
      <a href="/notes/new" class="paper-btn btn-success-outline margin">
        New Note</a
      >
      <a href="/notes/explore" class="paper-btn btn-warning-outline"
        >Explore Notes</a
      >
    </div>
  </div>
</div>
<%- include('layout/footer') %>
